@model DayPlanner_V2.Models.TableSchema

@{
    ViewData["Title"] = "Create";
}

<h1>Day Planner (Time Box)</h1>

<div class="container col-12 m-2 border border-3 bg-light bg-gradient">
    <div>
        <a asp-action="Index"> <- Back to List</a>
    </div>
    
    <form asp-action="Create">
        <div class="row">
            <div class="col-5 col-sm-6 col-xs-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div><h5>Top Priorities</h5> </div>

                <div class="form-group ">
                    <input asp-for="TopPriorities1" class="form-control" placeholder="1)" />
                    <span asp-validation-for="TopPriorities1" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <input asp-for="TopPriorities2" class="form-control" placeholder="2)" />
                    <span asp-validation-for="TopPriorities2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="TopPriorities3" class="form-control" placeholder="3)" />
                    <span asp-validation-for="TopPriorities3" class="text-danger"></span>
                </div>
                <div class="mb-2"><h5>Brain Dump</h5> </div>
                <div class="form-group">
                    <textarea asp-for="BrainDump" class="form-control" rows="18" placeholder="Brain Dump some Info of tasks."></textarea>
                    <span asp-validation-for="BrainDump" class="text-danger"></span>
                </div>
            </div>


            <div class="col-6 col-sm-6 col-xs-6 ">
                  <div class="row">
                    <div class="col-6 mt-2">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary w-100 mt-4" />
                        </div>
                    </div>
                 <div class="col-6">
                        <div class="form-group">
                            <div><h5>Date</h5> </div>
                            <input asp-for="CreatedAt" class="form-control" />
                            <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                    </div>
                    </div>
                <div class="row d-flex text-center">
                    <div class="col-6 p-0 m-0"><h5>:00</h5></div>
                    <div class="col-6 p-0 m-0"><h5>:30</h5></div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="FiveAM00" class="form-control" placeholder="5 AM" />
                        <span asp-validation-for="FiveAM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="FiveAM30" class="form-control" />
                        <span asp-validation-for="FiveAM30" class="text-danger"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="SixAM00" class="form-control" placeholder="6 AM" />
                        <span asp-validation-for="SixAM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="SixAM30" class="form-control" />
                        <span asp-validation-for="SixAM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="SevenAM00" class="form-control" placeholder="7 AM" />
                        <span asp-validation-for="SevenAM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="SevenAM30" class="form-control" />
                        <span asp-validation-for="SevenAM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="EightAM00" class="form-control" placeholder="8 AM" />
                        <span asp-validation-for="EightAM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="EightAM30" class="form-control" />
                        <span asp-validation-for="EightAM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="NineAM00" class="form-control" placeholder="9 AM" />
                        <span asp-validation-for="NineAM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="NineAM30" class="form-control" />
                        <span asp-validation-for="NineAM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="TenAM00" class="form-control" placeholder="10 AM" />
                        <span asp-validation-for="TenAM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="TenAM30" class="form-control" />
                        <span asp-validation-for="TenAM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="ElevenAM00" class="form-control" placeholder="11 AM" />
                        <span asp-validation-for="ElevenAM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="ElevenAM30" class="form-control" />
                        <span asp-validation-for="ElevenAM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row d-flex text-center">
                    <div class="col-6 p-0 m-0"><h5>:00</h5></div>
                    <div class="col-6 p-0 m-0"><h5>:30</h5></div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="TwelveAM00" class="form-control" placeholder="12 PM" />
                        <span asp-validation-for="TwelveAM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="TwelveAM30" class="form-control" />
                        <span asp-validation-for="TwelveAM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="OnePM00" class="form-control" placeholder="1 PM" />
                        <span asp-validation-for="OnePM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="OnePM30" class="form-control" />
                        <span asp-validation-for="OnePM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="TwoPM00" class="form-control" placeholder="2 PM" />
                        <span asp-validation-for="TwoPM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="TwoPM30" class="form-control" />
                        <span asp-validation-for="TwoPM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="ThreePM00" class="form-control" placeholder="3 PM" />
                        <span asp-validation-for="ThreePM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="ThreePM30" class="form-control" />
                        <span asp-validation-for="ThreePM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="FourPM00" class="form-control" placeholder="4 PM" />
                        <span asp-validation-for="FourPM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="FourPM30" class="form-control" />
                        <span asp-validation-for="FourPM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="FivePM00" class="form-control" placeholder="5 PM" />
                        <span asp-validation-for="FivePM00" class="text-danger"></span>
                    </div>

                    <div class="form-group col-6">
                        <input asp-for="FivePM30" class="form-control" />
                        <span asp-validation-for="FivePM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="SixPM00" class="form-control" placeholder="6 PM" />
                        <span asp-validation-for="SixPM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="SixPM30" class="form-control" />
                        <span asp-validation-for="SixPM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="SevenPM00" class="form-control" placeholder="7 PM" />
                        <span asp-validation-for="SevenPM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="SevenPM30" class="form-control" />
                        <span asp-validation-for="SevenPM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="EightPM00" class="form-control" placeholder="8 PM" />
                        <span asp-validation-for="EightPM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="EightPM30" class="form-control" />
                        <span asp-validation-for="EightPM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="NinePM00" class="form-control" placeholder="9 PM" />
                        <span asp-validation-for="NinePM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="NinePM30" class="form-control" />
                        <span asp-validation-for="NinePM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input asp-for="TenPM00" class="form-control" placeholder="10 PM" />
                        <span asp-validation-for="TenPM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="TenPM30" class="form-control" />
                        <span asp-validation-for="TenPM30" class="text-danger"></span>
                    </div>
                </div>
                <div class="row ">
                    <div class="form-group col-6">
                        <input asp-for="ElevenPM00" class="form-control" placeholder="11 PM" />
                        <span asp-validation-for="ElevenPM00" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <input asp-for="ElevenPM30" class="form-control" />
                        <span asp-validation-for="ElevenPM30" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
